body {
  background-color: aquamarine;
}
h1 {
  color: darkslategrey;

  margin-left: 90px;
}
#show_sketch {
  float: right;
}
canvas {
  border: 5px solid white;
  border-radius: 20px;
  animation-name: change;
  animation-duration: 4s;
  margin-top: 50px;
  animation-iteration-count: infinite;
}
@keyframes change {
  from {
    box-shadow: 1px 1px 38px black;
  }
  to {
    box-shadow: 1px 1px 38px yellow;
  }
}
p {
  padding-top: 10px;
  font-size: 25px;
}
